<section class="new-training"  fxLayout fxLayoutAlign="center" >
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    
      <mat-card fxFlex.xs="100%" fxFlex="400px" fxLayoutGap="20px" >
          <mat-card-title fxLayoutAlign="center">Time for new exercise!</mat-card-title>
          <mat-card-content  fxLayoutAlign="center" style="padding: 20px;">
                  <mat-form-field  appearance="fill">
                          <mat-label>Exercises</mat-label>
                          <mat-select  ngModel name="exercise" required>
                            <mat-option *ngFor="let exercise of exercises | async " [value]="exercise.id">
                              {{exercise.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center">
              <button  mat-raised-button  color="primary" type="submit"  [disabled]="f.invalid">Start!</button>
          </mat-card-actions>
      </mat-card>

  </form>
</section>