<mat-toolbar color="accent">
    <button fxHide.gt-xs mat-icon-button (click)="onToggle()">
        <mat-icon>menu</mat-icon>
    </button>
      <span>Logo</span>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.lt-sm>
        <ul fxLayout fxLayoutGap="10px"
        
        class="navigation-items">
          <li *ngIf="!logedIn"><a  routerLink="/signup">Sign Up</a></li>
          <li *ngIf="!logedIn"><a  routerLink="/login">Log In</a></li>
          <li *ngIf="logedIn"><a  (click)=logout() style="cursor: pointer;">Log Out</a></li>

          <li><a *ngIf="logedIn"  routerLink="/training" >Training</a></li>
        </ul>
      </div>
  </mat-toolbar>